# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Windows Symlinks
*.symlink

# C extensions
*.so

# Abaqus stuffs
*.odb
*.rp[yt]
*.rpy.*
*.com
*.dat
*.msg
*.log
*.sym
*.sta
*.prt

# debugging stuff
*.csv
*.xls*
debug.py
verify*.py

# MATLAB stuff
*.asv
historyData.mat
